src/main/resources/com/healthmarketscience/jackcess/cryptmodel/passwordEncryptor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://schemas.microsoft.com/office/2006/keyEncryptor/password"
           xmlns="http://schemas.microsoft.com/office/2006/keyEncryptor/password"
           xmlns:e="http://schemas.microsoft.com/office/2006/encryption"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://schemas.microsoft.com/office/2006/encryption"
             schemaLocation="encryptionInfo.xsd" />

  <xs:simpleType name="ST_PasswordKeyEncryptorUri">
    <xs:restriction base="xs:token">
      <xs:enumeration
          value="http://schemas.microsoft.com/office/2006/keyEncryptor/password" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CT_PasswordKeyEncryptor">
    <xs:attribute name="saltSize" type="e:ST_SaltSize" use="required" />
    <xs:attribute name="blockSize" type="e:ST_BlockSize" use="required" />
    <xs:attribute name="keyBits" type="e:ST_KeyBits" use="required" />
    <xs:attribute name="hashSize" type="e:ST_HashSize" use="required" />
    <xs:attribute name="cipherAlgorithm" type="e:ST_CipherAlgorithm"
                  use="required" />
    <xs:attribute name="cipherChaining" type="e:ST_CipherChaining"
                  use="required" />
    <xs:attribute name="hashAlgorithm" type="e:ST_HashAlgorithm"
                  use="required" />
    <xs:attribute name="saltValue" type="xs:base64Binary" use="required" />
    <xs:attribute name="spinCount" type="e:ST_SpinCount" use="required" />
    <xs:attribute name="encryptedVerifierHashInput" type="xs:base64Binary"
                  use="required" />
    <xs:attribute name="encryptedVerifierHashValue" type="xs:base64Binary"
                  use="required" />
    <xs:attribute name="encryptedKeyValue" type="xs:base64Binary"
                  use="required" />
  </xs:complexType>

  <xs:element name="encryptedKey" type="CT_PasswordKeyEncryptor" />
</xs:schema>

